﻿<%@ Page Title="" Language="C#" MasterPageFile="~/TomTom.Master" AutoEventWireup="true" CodeBehind="Exam.aspx.cs" Inherits="MobileApp.Exam" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    EXAMEN
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
