﻿<%@ Page Title="" Language="C#" MasterPageFile="~/TomTom.Master" AutoEventWireup="true" CodeBehind="MyAccount.aspx.cs" Inherits="MobileApp.MyAccount" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    MI CUENTA
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
