﻿body {
    text-shadow: none !important;
    font-family: TomTom !important;
}

@font-face {
    font-family: 'TomTom';
    src: url('Font/Roboto/Roboto-Regular.ttf') format('truetype');
}

.ui-content {
    padding: 0.5em !important;
}

    .ui-content h2.section-title {
        color: #6facd5;
        background-color: transparent;
        border-bottom: 1px solid #ddd;
        font-size: 1.1em;
        padding-bottom: .2em;
        margin: 0 0 .7375em;
        font-weight: normal;
        /*text-align: center;*/
    }


.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: none !important;
    font-size: .9em !important;
}

body, input, select, textarea, button, .ui-btn {
    font-size: 1.2em;
}

.jqm-block-content {
    margin: .2em;
    padding: 1em;
    background: #fff;
    border: none !important;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    /*opacity:0.9;*/
}

.ui-title .logo {
    border: none;
    background-color: #FFF !important;
}

.logo img {
    width: 50px;
}

.app-Content {
    /*background-color: #FFF !important;*/
}

body {
    font-weight: normal !important;
}

.ui-header {
    background-image: url('/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menuHeder {
    background-color: transparent !important;
    border: none !important;
    text-shadow: none;
    box-shadow: none;
}

    .menuHeder img {
        width: 25px;
        margin-top: 15px;
    }

.footer {
    background-color: #0b67b4 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.bottomMenu {
    bottom: 0px !important;
}

.menu-content {
    border-radius: 0px !important;
    box-shadow: none !important;
}

.menu-left {
    background-color: #168ecb;
}

.menu-title {
    padding: 27px 15px !important;
    border-radius: 0px !important;
    background-color: #0752a3 !important;
    color: #fff !important;
    text-shadow: none !important;
    font-weight: normal !important;
}

.menu-item {
    background-color: #168ecb !important;
    border-color: #1b9ee1 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btnExit {
    width: 89% !important;
    margin: 12px !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    border: none !important;
}

.ui-title .logo {
    border: none;
    background-color: #FFF !important;
}

.noshadow * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.nogradient,
.nogradient * {
    background-image: none !important;
}

.nohighlight .ui-btn:before {
    display: none !important;
}

form.ui-mini .ui-field-contain fieldset.ui-controlgroup legend small {
    color: #666;
}

.item-list {
    margin-right: 0px !important;
}

.new {
    position: absolute;
    bottom: 0;
    max-height: 45%;
}
