﻿<%@ Page Title="" Language="C#" MasterPageFile="~/TomTom.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="MobileApp.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     
</asp:Content>
