﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Landing.aspx.cs" Inherits="MobileApp.Landing" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" media="screen and (max-device-width: 320px)" />
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
        <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
        <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
        <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
        <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

        <title>Epsilon Mobile Framework - Version 2.0</title>

        <link href="styles/style.css" rel="stylesheet" type="text/css">
        <link href="styles/framework.css" rel="stylesheet" type="text/css">
        <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
        <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
        <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="styles/animate.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/jqueryui.js"></script>
        <script type="text/javascript" src="scripts/framework.plugins.js"></script>
        <script type="text/javascript" src="scripts/custom.js"></script>

        </head>
        <body>

            <div id="preloader">
                <div id="status">
                    <p class="center-text">
                        Loading the content...
            <em>Loading depends on your connection speed!</em>
                    </p>
                </div>
            </div>
            <div class="landing-page">
                <div class="landing-wrapper">
                    <a href="index3.html">
                        <img class="landing-logo" src="images/logo.png" alt="img">
                        <em class="landing-logo-sub">Creative Simplicity</em>
                    </a>

                    <div class="landing-navigation">
                        <a href="index.html"><i class="fa fa-home"></i>Homepage</a>
                        <a href="features-type.html"><i class="fa fa-pencil"></i>Type</a>
                        <a href="features-jquery.html"><i class="fa fa-bolt"></i>jQuery</a>
                        <div class="clear"></div>
                    </div>

                    <div class="landing-footer">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <div class="clear"></div>
                        <p class="landing-copyright">Copyright 2019.
                            <br>
                            All Rights Reserved.</p>
                    </div>
                </div>

                <div class="landing-background">
                    <div class="bg-pattern"></div>
                </div>
            </div>
    </form>
</body>
</html>
